<div
  class='
    flex flex-col md:flex-row lg:flex-row justify-between gap-0 border-[1px]
    border-solid border-gray-150 border-t-0 border-l-0 border-r-0 min-h-screen
  '
>
  <div
    class='
      min-w-80 border-[1px] border-solid border-gray-150 border-t-0 border-l-0
      border-b-0 overflow-y-auto
    '
  >
    <div class='h-full flex flex-col text-md'>
      <div
        class='
          text-md border-[1px] border-solid border-gray-150 border-t-0 border-l-0
          border-r-0 p-4 flex flex-col justify-between gap-4
        '
      >
        <h2>Languages</h2>
      </div>
      <div class='h-full p-4 text-sm overflow-auto'>
        <%= render "languages/form" %>
        <div class='justify-center pl-0'>
          <a href="<%= solutions_path %>">
            <button
              class='
                flex items-center gap-2 w-full p-2 hover:bg-gray-150 rounded-md
              '
            >
              <i class="fa-solid fa-glasses text-gray-400"></i>
              <%= @user.alias %>
              <span
                class='
                  border-[1px] border-solid border-gray-150 rounded-2xl px-2 text-xs
                  <%= current_page?(solutions_path) ? 'bg-blue-400 text-royal-500' : 'bg-transparent text-gray-200' %>
                '
              >
                <%= @solutions.count %>
              </span>
            </button>
          </a>
        </div>
        <% @languages.each do |language| %>
          <%# weird behavior where if this condition is not set up, a params error shows up %>
          <% if language.name %>
            <a
              href="<%= solutions_in_language_path(programming_language: language.name) %>"
              class='flex items-center gap-2 pl-2'
            >
              <button class='w-full flex items-center gap-2 p-2 hover:bg-gray-150 rounded-md'>
                └─
                <i class="fa-solid fa-keyboard text-gray-400"></i>
                <span><%= language.name %></span>
                <span
                  class='
                    border-[1px] border-solid border-gray-150 rounded-2xl px-2 text-xs
                    <%= request.path.include?(language.name) ? 'bg-blue-400 text-royal-500' : 'bg-transparent text-gray-200' %>
                  '
                >
                  <%= language.solutions.count %>
                </span>
              </button>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='flex-grow'>
    <%= render "solutions_in" %>
  </div>
</div>
